*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

body{
    font-family: 'Neucha', cursive;
    display:flex;
    flex-flow: column nowrap;
    padding: 4rem;
    background-color: antiquewhite;
}

header{
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* #section1,#section2 {
    display: none;
} */

section p {
    /* background-color: aliceblue; */
    width:40%;
    margin:0.5rem auto;
    padding: 0.5rem;
    border-radius: 8px;
    font-weight: bold;
}

button#push-me{
    font-size: 1.2rem;
    color:aliceblue;
    margin:1rem;
    padding: 0.5rem;
    background-color: hotpink;
    width:180px;
    border:1px solid rgba(248, 52, 150, 0.904);
    border-radius: 8px;
    box-shadow: 5px 7px 14px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 7px 14px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 7px 14px -10px rgba(0,0,0,0.75);

    text-shadow: 1px 1px #241818;
}

button#section2-run-btn{
    font-size: 1rem;
    color:aliceblue;
    margin:1rem;
    padding: 0.5rem;
    background-color: rgb(78, 16, 47);
    border:1px solid rgb(42, 2, 22);
    border-radius: 8px;
    box-shadow: 5px 7px 14px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 7px 14px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 7px 14px -10px rgba(0,0,0,0.75);

    text-shadow: 1px 1px #241818;


}

.reset{
    font-size: 1.2rem;
    color:aliceblue;
    margin:1rem;
    padding: 0.5rem;
    background-color: rgb(241, 79, 30);
    width:180px;
    border:rgb(245, 65, 11);
    border-radius: 8px;
    box-shadow: 5px 7px 14px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 7px 14px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 7px 14px -10px rgba(0,0,0,0.75);

    text-shadow: 1px 1px #241818;
}